<div class="team-container">
  <h1>All Teams</h1>
  <hr>
  <% @teams.each do |team| %>
   <ul class="team-list">
     <li class="team-item">
      <%= link_to image_tag(team.thumbnail, :class => 'thumbnail', :alt => team.name, :title => team.name), team %>
     </li>
   </ul>
  <% end %>
</div>
