<div class="position-container">
  <h1>All Positions</h1>
  <div class="court">
    <br>
    <br>
    <ul class="all-positions">
     <% @positions.each do |position| %>
     <div>
        <%= link_to position.abbr, position, :class => position.abbr %>
     </div>
     <% end %>
     </ul>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
  </div>
</div>
