<h1>All Positions</h1>
<div class="court">
  <br>
  <br>
   <% @positions.each do |position| %>
    <ul>
      <li><%= link_to position.name, position %></li>
    </ul>
   <% end %>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
</div>
