<div class="position-container">
  <h1>All Positions</h1>
  <h6>This is a basic layout of positions as they would be on a court.
  <br>
  Click on any positon to see the list of players who primarily play that position.
  </h6>
  <div class="court">
    <br>
    <br>
    <ul class="all-positions">
     <% @positions.each do |position| %>
     <div>
        <%= link_to position.abbr, position, :class => position.abbr, :title => position.name %>
     </div>
     <% end %>
     </ul>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
  </div>
</div>
