<div class="home-container">
  <h1>MUDB</h1>
  <h2>the Mostly Uselss DataBase</h2>
  <h6>with shoes!</h6>

  <hr>

  <p>The point of this database is to compare the various shoe brands with each other by looking at stats. This is done by measuring and recording various players' points per game (ppg), total rebounds (trb) and assists (ast). The players are recorded in tables for every team, brand and position.
  <br>
  <br>
  As of now, this database only holds starter players for each team.
  <br>
  <br>
  The database is mostly useless :)
  </p>

  <img src="/assets/shoesthumb.png" alt="shoe icon" class="homeshoe">
</div>
