body {
  background-color: #92D4F4;
}

.container {
  max-width: 70vw;
  margin: 0 auto;
  font-family: 'Karla', sans-serif;
  color: #1D3775;
  background-color: white;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

.shoe-list {
  float: none;
  display: inline-block;
  width: 40%;
  padding: 0 15px;
  text-align: left;
  margin-right: -4px;
  vertical-align: top;
}

.shoe-item {
  max-width: 100%;
  font-size: 100%;
  text-align: center;
}

.main {
  max-width: 100%;
}

.indexImage {
  width: 100%;
}

.indexImage:hover {
  border: 5px solid white;
  /* border-radius: 1em; */
}

h1 {
  font-family: 'Ubuntu', sans-serif;
  font-weight: 900;
  font-size: 440%;
  margin-bottom: 20px;
}

a {
  text-decoration: none;
  color: #1D3775;
}

a:hover {
  color: grey;
  text-decoration: none;
}

ul {
  list-style: none;
}

.court {
  background-image: url(/assets/bball-court.png);
  z-index: -1;
}

.scrollable-menu {
  height: auto;
  max-height: 500px;
  overflow-x: hidden;
}
