/* General ------------------------------------------------------------------ */
body {
  background-color: #92D4F4;
}

.container {
  max-width: 70vw;
  margin: 0 auto;
  font-family: 'Karla', sans-serif;
  color: #1D3775;
  background-color: #e0f9ff;
  text-align: center;
  padding: 0;
  border-radius: 1em;
}

h1 {
  font-family: 'Ubuntu', sans-serif;
  font-weight: 900;
  font-size: 440%;
  margin-bottom: 20px;
  text-shadow: 0 3px 0 #4893D8;
}

a {
  text-decoration: none;
  color: #1D3775;
}

a:hover {
  color: grey;
  text-decoration: none;
}

ul {
  list-style: none;
}

.scrollable-menu {
  height: auto;
  max-height: 500px;
  overflow-x: hidden;
}


/* Shoes -------------------------------------------------------------------- */
.shoe-container {
  width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
}

.shoe-list {
  float: none;
  display: inline-block;
  width: 40%;
  padding: 0 15px;
  text-align: left;
  margin-right: -4px;
  vertical-align: top;
}

.shoe-item {
  max-width: 100%;
  font-size: 100%;
  text-align: center;
}

.shoeIndexImage {
  width: 100%;
  border-radius: 1em;
}

.shoeIndexImage:hover {
  border: 5px solid #e0f9ff;
}


/* Positions ---------------------------------------------------------------- */
.position-container {
  width: 100%;
  background-color: #92D4F4;
  z-index: -2;
  margin: 0 auto;
  text-align: center;
  padding-top: 0;
  padding-bottom: 0;
}

.court {
  background-image: url(/assets/bball-court.png);
  border: 5px solid white;
  border-radius: 1em;
  position: relative;
  max-width: 960px;
}

.PG, .SG, .SF, .PF, .C {
  position: absolute;
  font-weight: bold;
  font-size: 200%;
  z-index: 10;
  color: black;
  border: 3px solid black;
  border-radius: 10px;
}

.PG:hover, .SG:hover, .SF:hover, .PF:hover, .C:hover {
  color: black;
  background-color: white;
  border: 4px solid white;
}

.PG {
  bottom: 56%;
  left: 38%;
  width: 55px;
}

.SG {
  bottom: 44%;
  right: 14%;
  width: 55px;
}

.SF {
  bottom: 7%;
  left: 1%;
  width: 55px;
}

.PF {
  bottom: 35%;
  left: 27%;
  width: 55px;
}

.C {
  bottom: 10%;
  right: 28%;
  width: 50px;
}


/* Players ------------------------------------------------------------------ */
.player-photo {
  max-width: 100%;
}


/* Teams -------------------------------------------------------------------- */
